/* for fonts  */
@font-face {
  font-family: poppins_normal;
  src: url('./assets/fonts/poppins_regular.ttf');
}

@font-face {
  font-family: poppins_semiBold;
  src: url('./assets/fonts/poppins_semibold.ttf');
}

@font-face {
  font-family: poppins_bold;
  src: url('./assets/fonts/poppins_bold.ttf');
}

/* for tailwind css  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 0px;
}


/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #acacac;
} */

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  /* line-height: 1.2em; */
  font-family: poppins_normal;
}

:root {
    --speed: 0.5s;
    --distance: 1.3rem;
    --distance-negative: -1.3rem;
}




